* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
  text-align: center;
}

.line {
  background: black;
  width: 70%;
  height: 1.5px;
  display: inline-block;
  max-width: 1000px;
}

.h1h2 {
  color: black;
  margin: 25px;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.anchor {
  color: black;
  margin: 10px;
  font-weight: bold;
}

button {
  border: none;
  background: transparent;
}

button:hover {
  opacity: 0.5;
}

.btnLng {
  font-size: 15px;
  margin: 15px;
}

.lng {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul li {
  list-style: none;
  display: flex;
}

ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {

  .media {
    display: flex;
    flex-direction: row;
  }


}